*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 1.5rem 0 2.5rem 0;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fill {
    background: url('../img/2.png');
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    cursor: pointer;

}

.empty{
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: rgba(183, 183, 184, 0.3) 0px 1px 2px 0px,
    rgba(183, 183, 184, 0.3) 0px 1px 3px 1px;
}

.hovered{
    background-color:lightcoral;
}

.invisibla{
    display: none;
}